


@{ 
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
} 

    <section class="ftco-section">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="wrapper">
                        <div class="row no-gutters">
                            <div class="col-lg-12 col-md-7 order-md-last d-flex align-items-stretch">
                                <div class="contact-wrap w-100 p-md-5 p-4">
                                    <h3 class="mb-4">Thay đổi tên người dùng</h3>
                                    <div id="form-message-warning" class="mb-4"></div>
                                    <div id="form-message-success" class="mb-4">
                                        Your message was sent, thank you!
                                    </div>
                                    <form method="post" action="/Admin/User/UpdateNamePost" id="contactForm" name="contactForm" class="contactForm"
                                        novalidate="novalidate">
                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="Name">Nhập tên người dùng</label>
                                                    <input type="text" class="form-control"placeholder="Recipient's name" name="input_update_name" id="subject" >
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="submit" value="Gửi Thông Tin" class="btn btn-primary">
                                                    <div class="submitting"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                           </div>
                    </div>
                </div>
            </div>
        </div>
    </section>